#conf {
    font-family: sans-serif;
}
#startBGMatch {
    background: darkslategray;
    color: white;
    width: 120px;
    justify-content: center;
    margin-top: 25px;
}

#startBGMatch:after {
    content: 'StartGame';
}
#termDialog {
    justify-content: space-evenly;
}
#termDialog > .csscaption:before {
    content: 'Terminate current match?';
}
#term {
    background: darkred;
    color: white;
    width: 15%;
    justify-content: center;
    margin-top: 25px;
    padding: 5px 10px;
}
#term:after {
    content: 'Terminate';
}

#execTerm:after {
    content: 'Terminate';
}

#cancelTerm:after {
    content: 'Cancel';
}
#execTerm {
    background: lightgray;
}

#cancelTerm {
    color:white;
    background: darkslategray;
}

#reset_posID{
    width:fit-content;
    display:inline;
    border:black;
    border-style: solid;
    border-width: 1px;
    padding: 1px 10px;
    margin: 5px 10px;
}