.boardContainer {
    width: fit-content;
    position: relative
}

.dialogContainer {
    width: 100%;
    height: calc(var(--boardHeight) + var(--pieceSize));

    position: absolute;
    top: 0;
    display: flex;

    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.dialog {
    background: white;

    width: 75%;
    height: calc(var(--pieceSize) * 4.0);
    padding: 0 0;
    margin: 0 0;
    border: 1px solid black;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.dialog .caption {
    height: calc(var(--pieceSize) * 1.0);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

