/* バックギャモンボードの基本的な構成要素を表現するスタイルシート */

:root {
    /* 配色・サイズパラメーター */
    --boardHeight: calc(var(--pieceSize) * 17);
    --boardWidth: calc(var(--pieceSize) * 17);

    --redPieceColor: var(--redSideColor);
    --whitePieceColor: var(--whiteSideColor);
}

.boardContainer {
    width: fit-content;
    position: relative;
    display:flex;
    align-items: center;
}

.board {
    width: fit-content;

    /* レイアウトは基本的にflexで配置 */
    display: flex;
    flex-flow: column;
}

.board * {
    /* board内ではborder込みのサイズでレイアウトを調整する */
    box-sizing: border-box;
}

.board > div.innerBox {
    /* 高さは任意に調整できる */
    height: var(--boardHeight);

    position: relative;
    display: flex;
    flex-flow: row;
}

/* 座標表示 */

.posIndex > span {
    text-align: center;
    width: calc(var(--pieceSize));
}

.posIndex {
    position: absolute;
    height: calc(var(--pieceSize) * 0.5);
    width: 100%;
    justify-content: space-around;
    display: flex;
}

.posIndex.upper {
    top: calc(var(--pieceSize) * -0.5);
    align-items: flex-end;
}

.posIndex.lower {
    bottom: calc(var(--pieceSize) * -0.5);
    align-items: flex-start;
}

/* ボード中央 */

.centerArea {
    /* ポイントと▲△▲△▲△を絶対座標で指定するため */
    position: relative;

    display: flex;
}

/* ボードの右手面、左手面 */
.inner,
.outer {
    margin: 0 2px;

    /* 縦方向に目一杯広げて table - dice - table と配置 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* posIndexがAbsoluteを使用するので */
    position: relative;
}

/* ポイント6個分を表示する領域 */
.table {
    position: relative;
}

/* 上半分は右から左、下半分はその逆向きにポイントを並べる */
.upper.table {
    display: flex;
    flex-direction: row;
}

.lower.table {
    display: flex;
    flex-direction: row-reverse;
}

/* カラムはポイントと▲をまとめている。バーポイント上の駒もカラム内に配置 */
.column {
    width: var(--pieceSize);
}

.table .triangle {
    width: 0;
    height: 0;
    --triangle-height: 5.5;

    border-left: calc(var(--pieceSize) * 0.5) solid transparent;
    border-right: calc(var(--pieceSize) * 0.5) solid transparent;
}

.upper.table .triangle,
.upper.table .point {
    position: absolute;
    top: 0;
}

.lower.table .triangle,
.lower.table .point {
    position: absolute;
    bottom: 0;
}

/* ▼▽▲△の色分け */

.upper.table .column:nth-child(even) .triangle {
    border-top: calc(var(--pieceSize) * var(--triangle-height)) solid
        var(--triangleColorEven);
}

.upper.table .column:nth-child(odd) .triangle {
    border-top: calc(var(--pieceSize) * var(--triangle-height)) solid
        var(--triangleColorOdd);
}

.lower.table .column:nth-child(even) .triangle {
    border-bottom: calc(var(--pieceSize) * var(--triangle-height)) solid
        var(--triangleColorEven);
}

.lower.table .column:nth-child(odd) .triangle {
    border-bottom: calc(var(--pieceSize) * var(--triangle-height)) solid
        var(--triangleColorOdd);
}

/* 左右、各プレイヤーのダイス */

.dice-space.left {
    left: 0;
    --diceColor: var(--redSideColor);
    --dicePipColor: var(--redSideDicePipColor);
}

.dice-space.right {
    right: 0;
    --diceColor: var(--whiteSideColor);
    --dicePipColor: var(--whiteSideDicePipColor);
}

/* バーにはキューブとオンザバーの駒置き場を配置 */

.bar {
    margin: 0 calc(var(--pieceSize) * 0.05);
    width: calc(var(--pieceSize) * 1.9);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar .upper,
.bar .lower {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bar .lower {
    flex-direction: column-reverse;
}

/* サイドバーにはベアオフした駒の置き場と、ダブリングキューブ */

.side-bar {
    box-sizing: content-box;
    width: calc(var(--pieceSize) * 1 + 2px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* goal 駒を上寄せ、下寄せするための指定 */

.goal {
    width: calc(var(--pieceSize) * 1 + 2px);
    height: calc(var(--pieceSize) * 0.25 * 17 + 28px);
}

.goal.upper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goal.lower {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.cube-space {
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
