.dialog > .cubeResponse {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button#take {
    background: darkslategray;
    color: white;
}

.button#pass {
    background: lightgray;
}

.button#take:after {
    content: 'Take';
}

.button#pass:after {
    content: 'Pass';
}
