/* ゲームログはいずれ内容に応じて強調表示したい */
#recordsAndConf {
    display: flex;
    flex-flow: row-reverse;
}

#resume {
    background-color: darkslategray;
    color: white;
    width: 20%;
    padding: 5px 10px;
    margin: 10px;
    justify-content: center;
}

#resume.disabled {
    background-color: lightgray;
}

#scrollPane {
    overflow-y: auto;
    height: 75vh;
    width: 350px;
}

/* 座標表示スタイル切り替えチェックボックス */
#directionCheckbox > input {
    transform: rotate(90deg);
}

#directionCheckbox {
    writing-mode: vertical-lr;
    text-orientation: sideways;
}

#directionCheckbox:after {
    content: 'Use fixed index';
}
/* ムーブ履歴の表示 */

table.records {
    width: 330px;
    border-collapse: collapse;
}

table.records {
    border: gray solid 1px;
}

col#numCol {
    width: 10%;
}

col#pieceCol {
    width: 10%;
}

col#movesCol {
    width: 80%;
}

.records thead {
    border-bottom: black solid 1px;
}

.records td {
    padding: 5px;
}

.records td:nth-child(+ 1) {
    text-align: right;
}

tr.record.selected {
    background-color: lightblue;
}

.pieceMark.red {
    border: gray solid 1px;
    background-color: crimson;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

.pieceMark.white {
    border: black solid 1px;
    background-color: white;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

.record:nth-child(2n + 1) {
    background-color: #eeeeee;
}

.record:nth-child(2) {
    background-color: white;
}
